<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectDiplom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <ProjectDiplom.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>qwerty</value>
            </setting>
            <setting name="candelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>RU</value>
            </setting>
            <setting name="tryes" serializeAs="String">
                <value>5</value>
            </setting>
        </ProjectDiplom.Properties.Settings>
    </userSettings>
</configuration>